body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: rgb(250, 246, 246);
    text-align: center;
    padding: 20px 0;
}

section {
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-container > div {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.equipe {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.equipe .perfil {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.equipe img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.contato {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}
